@font-face {
	font-family: Circe 300;
	src: url(../assets/fonts/circe/circe_300.ttf);
}

@font-face {
	font-family: Cicre 600;
	src: url(../assets/fonts/circe/circe_600.ttf);
}

@font-face {
	font-family: Cicre 700;
	src: url(../assets/fonts/circe/circe_700.ttf);
}