html, body, ul, h1, p, button, a {
    margin: 0;
    padding: 0;
}

ul{
	list-style: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
	background: #ffffff;
	size: 1410px 602px;
}

.gallery-previev {
	display: inline-block;
	margin: 22px 110px 82px 110px;
}

.gallery-previev__img_small {
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	margin-bottom: 30px;
	size: 90px 130px;
}

.gallery-previev__img_small:last-child {
	margin-bottom: 41px;
}

.gallery-previev__arrow-button {
	background: #ffffff;
	background-image: url(/assets/img/arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid rgba(222, 222, 222, 0.6);
	cursor: pointer;
	outline: none;
	size: 42px 31px;
	margin-left: 24px;
}

.gallery-previev__img_big {
	background-image: url(/assets/img/47.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	margin: 22px 110px 0 0;
	size: 340px 492px;
}

.shop-nav {
	size: 212px 33px;
	display: none;
	margin: 23px 0 25px 0;
	vertical-align: top;
}

.shop-nav__list {
	display: inline-block;
}

.shop-nav__list-item {
	display: inline-block;
}

.shop-nav__list-item._see {
	display: none;
}

.shop-nav__list-link {
	color: #797979;
	font: 13px 'Circe 300', Arial, sans-serif;
	font-weight: 300;
	line-height: 16px;
	display: inline-block;
}

.product-description {
	display: inline-block;
	vertical-align: top;
	size: 501px 453px;
	margin-top: 50px;
}

.product-description__header {
	margin: 0 0 21px 0;
}

.product__head {
	color: #131313;
	font: 24px 'Circe 700', Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
}

.product-description__all-product_list {
	display: inline-block;
	margin-bottom: 55px;
}

.all-product__list {
	display: inline-block;
}

.all-product__list_item {
	display: inline-block;
}

.all-product__list_link {
	color: #006be5;
	font: 13px 'Circe 300', Arial, sans-serif;
	line-height: 30px;
	margin: 0 30px 0 0;
}

.all-product__list_item:last-child {
	margin: 0;
}

.product-price {
	display: inline-block;
	margin: 0 0 21px 0;
}

.product-price__list {
	display: inline-block;
}

.product-price__list-item {
	display: inline-block;
	line-height: 30px;
	margin: 0 9px 0 0;
}

.product-price__list-item:nth-child(2n) {
	margin: 0 35px 0 0;
}

.product-price__list-item._strikethrough {
	color: #bfbebe;
	font: 18px 'Circe 300', Arial, sans-serif;
	font-weight: 400;
	text-decoration: line-through;
}

.product-price__list-item._gray {
	color: #9a9b9b;
	font: 18px 'Circe 700', Arial, sans-serif;
	font-weight: 700;
}

.product-price__list-item._black .price-bold {
	color: #131313;
	font: 18px 'Circe 700', Arial, sans-serif;
	font-weight: 700;
}

.product-price__list-item._black {
	color: #131313;
	font: 15px 'Circe 300', Arial, sans-serif;
	font-weight: 300;
	line-height: 24px;
}

.product-availability {
	background: #f4f4f4;
	display: inline-block;
	size: 339px 65px;
	margin-bottom: 50px;
}

.product-availability__checked-wrapp {
	display: inline-block;
	margin: 0 0 0 22px;
}

.product-availability__checked-icon {
	background: url(../assets/img/check.png) no-repeat;
	display: inline-block;
	size: 14px 10px;
	margin-right: 12px;
}

.product-availability__checked {
	display: inline-block;
}

.product-availability__checked-text {
	color: #131313;
	font: 13px 'Circe 300', Arial, sans-serif;
	font-weight: 300;
	line-height: 30px;
}

.product-availability__checked-link {
	color: #006be5;
}

.product-delivery__wrapp {
	margin: 0 15px 0 22px;
}

.product-delivery__icon {
	background: url(../assets/img/car.png) no-repeat;
	display: inline-block;
	size: 17px 13px;
	margin-right: 8px;
}

.product-delivery__text {
	display: inline-block;
	font: 13px 'Circe 300', Arial, sans-serif;
	font-weight: 300;
	line-height: 30px;
}

.info-product {
	display: none;
}

.product-buttons {
	display: inline-block;
	margin-bottom: 42px;
}

.product-buttons__in-shop {
	background: #006be5;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font: 13px 'Circe 700', Arial, sans-serif;
	font-weight: 700;
	line-height: 24px;
	display: inline-block;
	size: 230px 40px;
	outline: none;
	margin-right: 24px;
	text-transform: uppercase;
}

.product-buttons__in-favorite {
	background: #ffffff;
	border: 2px solid #d9d9d9;
	display: inline-block;
	cursor: pointer;
	font: 13px 'Circe 700', Arial, sans-serif;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	outline: none;
	size: 230px 40px;
}

.product-button__forma {
	display: none;
}

.product-description__text-wrapp {
	size: 465px 49px;
	margin-bottom: 45px;
}

.product-description__text-wrapp._see-320 {
	display: none;
}

.product-description__text {
	color: #131313;
	font: 13px 'Circe 300', Arial, sans-serif;
	font-weight: 300;
	line-height: 18px;
}

.social-share {
	display: inline-block;
}

.social-share__header {
	display: inline-block;
	font: 13px 'Circe 300', Arial, sans-serif;
	font-weight: 300;
	line-height: 18px;
	text-transform: uppercase;
	margin-right: 23px;
}

.social-list {
	display: inline-block;
}

.social-list__icon {
	display: inline-block;
}

.social-list__item {
	display: inline-block;
	border: 2px solid #d9d9d9;
	border-radius: 50%;
	vertical-align: middle;
	size: 30px;
	margin-right: 12px;
}

.social-list__item._vk {
	background: url(../assets/img/vk.png) no-repeat center;
}

.social-list__item._google {
	background: url(../assets/img/google.png) no-repeat center;
}

.social-list__item._fb {
	background: url(../assets/img/fb.png) no-repeat center;
}

.social-list__item._twitter {
	background: url(../assets/img/twitter.jpg) no-repeat center;
}

.social-share__counter {
	background: #efefef;
	display: inline-block;
	vertical-align: middle;
	size: 45px 30px;
	position: relative;
}

.social-share__counter::after {
	content: '';
	position: absolute;
	right: 40px;
	top: 5px;
	border: 10px solid transparent;
	border-right: 15px solid #efefef;
}

.social-share__counter-number {
	margin: 5px;
	text-align: center;
}

@media screen and (max-device-width: 1000px) {
	.wrapper {
		size: 1000px 587px;
	}

	.gallery-previev {
		margin: 24px 30px 30px 25px;
	}

	.gallery-previev__img_big {
		size: 340px 492px;
		margin: 24px 31px 0 0 ;
	}

	.product-description {
		size: 414px 453px;
	}

	.product-buttons__in-shop {
		size: 165px 40px;
	}

	.product-buttons__in-favorite {
		size: 165px 40px;
	}
}

@media screen and (max-device-width: 768px) {
	.wrapper {
		size: 768px 579px;
	}

	.gallery-previev {
		margin: 25px 10px 30px 29px;
	}

	.gallery-previev__img_small {
		size: 80px 115px;
		margin-bottom: 20px;
	}

	.gallery-previev__img_small:last-child {
		margin-bottom: 31px;
	}

	.gallery-previev__arrow-button {
		margin-left: 20px;
	}

	.gallery-previev__img_big {
		size: 290px 420px;
		margin: 25px 42px 0 0;
	}

	.shop-nav {
		display: inline-block;
		position: relative;
	}

	.product-description {
		size: 295px 454px;
		margin-top: 0;
		position: absolute;
		top:80px;
		right: 14px;

	}

	.all-product__list_link {
		margin-right: 15px;
	}

	.product-availability {
		size: 289px 65px;
		margin-top: 0;
		margin-bottom: 29px;
	}

	.product-buttons__in-shop {
		size: 140px 41px;
		margin-right: 10px;
	}

	.product-buttons__in-favorite {
		size: 140px 41px;
	}

	.product-description__text-wrapp {
		size: 288px 67px;
	}

	.social-share__header {
		display: none;
	}

	.product-description__all-product_list {
		margin-bottom: 24px;
	}

	.product-buttons {
		margin-bottom: 27px;
	}
	
	.product-description__text-wrapp {
		margin-bottom: 30px;
		size: 288px 67px;
	}	
}

@media screen and (max-device-width: 320px) {
	.wrapper {
		size: 320px 910px;
	}
	
	.gallery-previev {
		display: none;
	}
	
	.gallery-previev__img_big {
		size: 242px 351px;
		display: block;
		margin: 0 40px 9px 38px;
		background: url(../assets/img/111.png) no-repeat center;
	}

	.shop-nav {
		display: block;
		position: static;
		margin: 0 20px 22px 22px;
		size: 278px 12px;
	}

	.shop-nav__list-item._hidden {
		display: none;
	}

	.shop-nav__list-item._see {
		display: inline-block;
	}

	.product-description {
		position: static;
		display: block;
		top: none;
		right: none;
	}

	.product-description__header {
		display: none;
	}

	.product-description__all-product_list{
		margin: 0 36px 30px 14px;
		size: 300px 37px;
		line-height: 14px;
	}

	.product-price {
		margin: 0 124px 35px 14px;
		size: 200px 30px;
	}

	.product-availability {
		size: 320px 65px;
	}

	.product-description__text-wrapp {
		display: none;
	}

	.product-description__text-wrapp._see-320 {
		display: block;
		size: 299px 84px;
		margin: 0 21px 27px 10px;
	}

	.info-product {
		display: block;
		border: 1px solid #eeefef;
		size: 320px 41px;
		margin: 0 0 15px 0;
	}

	.info-product__header {
		display: inline-block;
		font: 13px 'Circe 700', Arial, sans-serif;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
		margin-left: 15px;
		position: relative;
	}

	.info-product__arrow {
		display: inline-block;
		background: url(../assets/img/arrowDown.png) no-repeat center;
		size: 11px 7px;
		position: absolute;
		left: 280px;
		margin-top: 18px;
	}

	.product-buttons {
		display: block;
		size: 320px 97px;
		margin-bottom: 36px;
	}

	.product-buttons__in-shop {
		display: block;
		size: 290px 40px;
		margin: 0 15px 17px 15px;
	}

	.product-buttons__in-favorite {
		display: inline-block;
		size: 240px 40px;
		margin: 0 18px 0 15px;
	}

	.product-button__forma {
		display: inline-block;
		border: none;
		background: url(../assets/img/forma.png) no-repeat center;
		size: 18px 24px;
		outline: none;
		vertical-align: middle;
	}

	.social-wrapp {
		display: none;
	}
}